<h2 class="center-align card-panel green">{{GameDetailCtrl.game.name}}</h2>
<div class="row">
  <div class="card green">
    <div class="col m4 l4">
      <img ng-src="{{GameDetailCtrl.game.image}}" width="300">
    </div>
  </div>
    <div>
      <div class="col s12 m4 l4">
        <div class="card-panel green">
        <h5>Details</h5>
        <p>Publisher: {{GameDetailCtrl.game.publisher}}
        <p>Year: {{GameDetailCtrl.game.year}}</p>
        </div>
      </div>
    </div>
  <div>
    <div class="col m4 l4">
      <div class="card-panel green">
        <h5>Plays</h5>
        <div ng-repeat="play in GameDetailCtrl.game.plays">
          <h6>{{play.date | date}}</h6>
          <ul>
            <li ng-repeat="player in play.players">{{player.name}}</li>
            <!-- <li ng-repeat="score in play.players">{{player.score</li> -->
          </ul>
        </div>
        <button class="waves-effect waves-light btn" ng-click="GameDetailCtrl.newPlay()">New Play</button>
      </div>
    </div>
  </div>
</div>


<!--
<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div> -->
